@model PartyInvites.Models.GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <style>
        body {background-color:azure}
    </style>
</head>
<body>
    <div class="text-center">
        <h1>谢谢你，@Model.Name ！</h1>
        <div class="lead">
            @if (Model.WillAttend == true)
            {
                @:很高兴你能来！
            }
            else
            {
                <h3>很遗憾你不能来！</h3>
            }
        </div>
        
    </div>
    
</body>
</html>
